/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    border: 1px solid #000; /* Borde de la tabla */
    /* Otros estilos de la tabla */
}
